.welcome{
    color:white;
    text-shadow: -1px 1px black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: max(2vw,4vh);
    margin: 0;
}

.welcometitle{
    color:white;
    font-size: max(8vw,9vh);
    font-weight: bold;
    text-shadow: -1px 5px black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow'
}

.welcomeDescription{
    color: white;
    text-shadow: -1px 1px black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: max(2.5vw, 2.5vh);
}

.welcomeDescriptionDetails{
    color: white;
    text-shadow: -1px 1px black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: max(1.5vw, 2vh);
}

.dividerTitle{
  font-size: max(2.2vw, 3vh);
}



/* Start Animations */
.reveal {
    position: relative;
    opacity: 0;
}
  
.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}


@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
/* End Animations */


/* Start Slider Styles */
.sliderDetail{
  text-align:'center';
  font-size: max(1.2vw,2vh);
  font-family:'serif';
}
.slider{
    margin: 0;
    height:'60vh';
}

.SliderTextTitle{
  font-size: max(2vw, 3vh);
  font-weight:bolder;
  vertical-align:'baseline';
}